@import '_variables';

.footer {
      background-color: #333;
      color: white;
      padding: 10px 0;
      text-align: center;
      margin-top: 10vh;

      div {
            max-width: 1200px;
            margin: 0 auto;

            @media screen and (max-width: 500px) {
                  font-size: $small-description-fontSize;
            }
      }
}