.result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: center;

  thead {
    font-size: 1.3rem;
    color: #83e6c0;
    margin: 5px;

    th {
      padding: 20px;
    }
  }

  tbody {
    font-size: 1.2rem;
    color: #c2e9e0;
  }
}
